.blog_Box {
    box-sizing: border-box;
    position: absolute;
    width: 32rem;
    height: 41rem;
    background: linear-gradient(144.36deg, rgba(255, 255, 255, 0.4) 1.08%, rgba(255, 255, 255, 0.1) 89.26%);
    box-shadow: 0px 4px 25px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    border-radius: 30px;
    animation: fade 0.5s ease-in;
    top: 3rem;
    right: 3rem;
}

.blog_Box_Header {
    font-family: 'GothamMed';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    color: #DEAD4F;
    -webkit-text-stroke-color: #262626;
    -webkit-text-stroke-width: 2px;
    margin: 0;
    padding-top: 1.1rem;
    padding-bottom: 1.2rem;
    padding-left: 1.5rem;
}

.blog_Box_Text {
    color: white;
    font-size: 5rem;
    font-family: GothamMed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    -webkit-text-stroke-color: #262626;
    -webkit-text-stroke-width: 3px;
    
}

.blog_Box_Text > p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .blog_Box {
        width: 90%;
        height: 38rem;
        margin-top: 32rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .blog_Box_Header {
        padding-top: 2rem;
        font-size: 48px;
    }
    
    .blog_Box_Text { 
        padding-top: 2rem;
        font-size: 64px;
    }
}