.socials_Box {
    box-sizing: border-box;
    position: absolute;
    width: 32rem;
    height: 41rem;
    background: linear-gradient(144.36deg, rgba(255, 255, 255, 0.4) 1.08%, rgba(255, 255, 255, 0.1) 89.26%);
    box-shadow: 0px 4px 25px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    border-radius: 30px;
    animation: fade 0.5s ease-in;
    top: 3rem;
    right: 3rem;
}

.socials_Box_Header {
    font-family: 'GothamMed';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    color: #DEAD4F;
    -webkit-text-stroke-color: #262626;
    -webkit-text-stroke-width: 2px;
    margin: 0;
    padding-top: 1.1rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
}

.socials_Box_Pic {
    object-fit: contain;
    width: 5rem;
    transition: transform 450ms ease-in;
}

.socials_Box_Icons {
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    text-align: center;
}

.socials_Box_Text {
    color: #262626;
    transition: transform 450ms ease-in;
    text-decoration: none !important;
    margin: 0;
    font-family: GothamMed;
}

.socials_Box_Icon {
    background-color: #DEAD4F;
    width: 6.5rem;
    border-radius: 20%;
    padding: 1rem;
    height: 6.5rem;    
}

.socials_Box_Pic:hover, .socials_Box_Text:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: white;
}

@media screen and (max-width: 768px) {
    .socials_Box {
        width: 90%;
        height: 38rem;
        margin-top: 32rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .socials_Box_Header {
        padding-top: 2rem;
        font-size: 48px;
    }
    
    .socials_Box_Text {
        font-size: 16px;
        text-decoration: none;
    }

    .socials_Box_Icons {
        margin-left: 2rem;
        margin-right: 2rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        text-align: center;
    }

    .socials_Box_Icon {
        width: 5rem;
        height: 5rem;
    }

    .socials_Box_Pic {
        object-fit: contain;
        width: 3.5rem;
        transition: transform 450ms ease-in;
    }


}