html {
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #262626;
}

.spacebarlogo {
  object-fit: contain;
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 768px) {
  html {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  
}